body {
	background-image: url('../img/background.jpg');
	color: #776e65;
	font-family: Ubuntu;
	font-weight: bold;
}

.gameboard {
	width: auto;
	height: auto;
	margin: auto;
	border: 1px solid black;
	border-radius: 3%;
	border-spacing: 10px;
	background-color: lightgrey;
}

.gamerow {
	width: auto;
	height: auto;
}

.gamecell {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	border-radius: 6%;
	text-align: center;
	font-size: 30px;
	background-color: grey;
}

/*Cells color by value*/
.cell-0 {

}
.cell-2 {
	background: #eee4da;
}
.cell-4 {
	background: #ede0c8;
}
.cell-8 {
	color: #f9f6f2;
	background: #f2b179;
}
.cell-16 {
	color: #f9f6f2;
	background: #f59563;
}
.cell-32 {
	color: #f9f6f2;
	background: #f67c5f;
}
.cell-64 {
	color: #f9f6f2;
	background: #f65e3b;
}
.cell-128 {
	color: #f9f6f2;
	background: #edcf72;
}
.cell-256 {
	color: #f9f6f2;
	background: #edcc61;
}
.cell-512 {
	color: #f9f6f2;
	background: #edc850;
}
.cell-1024 {
	color: #f9f6f2;
	background: #edc53f;
}
.cell-2048 {
	color: #f9f6f2;
	background: #edc22e;
}

.header {
	width: 66%;
	margin: auto;
	margin-bottom: 0.75%;
}

.scores {
	display: flex;
	float: right;
	margin-right: 32%;
	margin-top: 1%;
	position:relative;
	border: 2px solid #776e65;
}

.score-container {
	background-color: #ffffcc;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	border-right: 2px solid #776e65;
}

.best-container {
	border-style: hidden;
	background-color: #ffffcc;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.gameboard-top {
	display: flex;
	justify-content: center;
}

#newGame {
	border: 1px;
	border-radius: 8%;
	position: right;
	font-size: 18px;
	padding: 10px;
	color: #f9f6f2;
	background: #edc22e;
	margin-inline-end: 3%;
}

#undo-move {
	border: 1px;
	border-radius: 8%;
	font-size: 18px;
	padding: 10px;
	color: #f9f6f2;
	background: #edc22e;
	font-weight: bold;
	margin-right: 100px;
}

.game-timer {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.footer {
	width: 66%;
	margin: auto;
}

.game-rules {
	margin-top: 5%;
	text-align: center;
}

.top-scores {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
}

.flop-scores {
	border-bottom: 1px solid black;
	margin-top: 5%;
	padding-bottom: 5%;
	text-align: center;
}

h1 {
	font-size: 500%;
	margin-left: 32%;
	width: 25%;
	margin-bottom: auto;
}

p {
	font-size: 125%;
	margin-left: 32%;
}

.dbForm {
	display: none;
}
